/* .Signup {
    max-width: 1500px; 
    margin: 0 auto;
    max-height: 700px;
    margin-top: 4rem;
    border-radius: 200px;
    
  } */
  
  .card-signup {
    border-radius: 30px; 
    max-width: 70%;
    margin-top: 3rem;
  
   
  }
  
  .card-bodysignup {
    padding: 2rem !important;
  }
  
  .col-xl-11signup {
   
    max-width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_wrapper{

  }
  
  .col-md-10 {
    max-width: 100%; 
  }
  
  .col-lg-6 {
    max-width: 100%; 
  }
  
  .img-fluid {
    max-width: 100%; 
    height: auto;
  }
  .textsignup{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
  }
 
.form-error{
  color: rgb(234, 53, 53);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

@media screen and (max-width: 950px) {
  .textsignup {
    font-size: 1.5rem;
    
  }
  .card-signup {
    max-width: 90%;
  }
 
}