.Signup {
    max-width: 1500px; 
    margin: 0 auto;
    max-height: 700px;
    margin-top: 4rem;
    border-radius: 20px;
    
  }
  
  .card-signup {
    border-radius: 30px; 
  }
  
  .card-bodysignup {
    padding: 1rem; 
  }
  
  .col-xl-11signup {
    max-width: 100%; 
  }
  
  .col-md-10 {
    max-width: 100%; 
  }
  
  .col-lg-6 {
    max-width: 100%; 
  }
  
  .img-fluid {
    max-width: 100%; 
    height: auto;
  }
  .textsignup{
    font-family: 'Times New Roman', Times, serif;
  }
 
