.NavbarContainer {
    margin-bottom: 9rem;
    z-index: 9999;
    position: sticky;
    background-color: rgb(15, 9, 1);
  }
  
  .NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0 30px;
    background-color: rgba(245, 237, 237, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-
    50%);
    z-index: 999; /* Increase z-index to keep navbar above other components */
  }
  
  .imagediv {
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Logo {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .navItems {
    display: flex;
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
  }
  
  .nav-links {
    text-decoration: none;
    color: rgb(6, 6, 6);
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }
  
  .nav-links i {
    padding-right: 8px;
  }
  
  .nav-links:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    font-size: 1.3rem;
    color: rgb(95, 84, 84);
  }
  
  .menu-icons {
    display: none;
  }
  
  .nav-links-buttons {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: fafafa;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    color: #222;
    font-weight: 500;
  }
  
  @media screen and (max-width: 850px) {
    .NavbarItems {
      z-index: 99;
    }
  
    .navItems {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, rgba(0, 0, 0, 0.25));
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4px);
      border-radius: 13px;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0; 
      left: -110%;
      align-items: stretch;
      padding: 80px 0 30px 0;
      margin: 0;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }
  
    .navItems.active {
      left: 0%;
    }
  
    .nav-links {
      display: block;
      widows: 100%;
      backdrop-filter: none;
      padding: 2rem 0;
      color: rgb(1, 1, 1);
      font-weight: bold;
      z-index: -1;
    }
  
    .nav-links:hover {
      background: rgba(147, 140, 140, 0.25);
      backdrop-filter: blur(20px);
      width: 90%;
      margin: auto;
      border-radius: 0.5rem;
    }
  
    .menu-icons {
      display: block;
    }
  
    .nav-links-buttons {
      padding: 1.5rem;
      display: block;
      text-align: center;
      background-color: rgba(122, 120, 120, 0.25);
      border-radius: 10px;
      font-size: 1.3rem;
      margin: auto;
      font-weight: bold;
      width: 50%;
    }
  
    .nav-links-buttons:hover {
      font-size: 1.5rem;
      transition: all 0.3s ease-in-out;
      width: 45%;
      color: black;
      background-color: rgba(239, 232, 232, 0.25);
    }
  
    body {
      padding-top: 80px; /* Adjust this value as needed */
    }
  }
  