.imgsucess{
    /* width: 50%;
    height: 40vh; */
    border-radius: 20px;
}
.verified{
    margin-top: 5rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
     color: green;
     
}
.textparent{
    text-align: center;
    width: 50%;
    height: 80%;

    
}
.main{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: rgb(245, 245, 242);
}

  
.greentick{
    width: 60px;

}
.emailverify{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #3f4e01;
}

.redirect-message{
    color: #66d31e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.counterdisplay{

    color: #f6b504;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    
}